<main class="container flex">
    <section class="container-box flex">
      <p class="intro-text">Lieve Job, we zien elkaar over</p>
      <article class="flex">
        <div class="time-box">
          <p class="time-box-number flex">01</p>
          <p class="time-box-text">days</p>
        </div>

        <div class="time-box">
          <p class="time-box-number flex">02</p>
          <p class="time-box-text">hours</p>
        </div>

        <div class="time-box">
          <p class="time-box-number flex">23</p>
          <p class="time-box-text">minutes</p>
        </div>

        <div class="time-box">
          <p class="time-box-number flex">41</p>
          <p class="time-box-text">seconds</p>
        </div>
      </article>
    </section>
  <footer></footer>
</main>
